body {
    background-image: url(images//photo-of-ferris-wheel-with-neon-lights-at-night-1821349.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
.jumbotron {
    text-align: center;
    background-color: rgba(252, 193, 131, 0.705);
    color: #E8EBE4;
    border-radius: 0;
    border-bottom: 10px solid #E8EBE4;

  }

h1 {
    font-style: italic;
    font-weight: bold !important;
    text-shadow: 4px 3px #1C2735;
}

h3 {
    text-shadow: 1px 1px #E8EBE4;
    color: #1C2735;
}
  
.description{
    white-space: pre-wrap;
  }
  
.time-block{
    text-align: center;
    border-radius: 15px;
  }

.hour-label {
    background-color: #E8EBE4;
    width: 120px;
}
  
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid #E8EBE4;;
  }
  
.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
.past {
    background-color: #66A182;
    color: white;
  }
  
.present {
    background-color: #FCC183;
    color: white;
  }
  
.future {
    background-color: #A9D6AD;
    color: white;
  }
  
.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #1C2735;
    color: #A9D6AD;
  }
  
.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
.input-group {
      padding: 2px;
  }

.fiveBlock {
    margin-bottom: 100px;
}